---
---

//
// load web fonts
//

// load the Bartificer font "Exo 2" from Google fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
$font-family-bartificer: "Exo 2", sans-serif;

// load any custom web fonts defined by the user
@import "custom_webfonts";

//
// set Bootstrap variables and import Bootstrap
//

// add the accent font
$font-family-accent: {{ site.accent.font_family | default: '"Exo 2", sans-serif' }};
.font-accent{
    font-family: $font-family-accent;
}

// set the headings font
$headings-font-family: $font-family-accent;

// add accent colours
$accent: {{ site.accent.color | default: "#93c020" }};
$accent-light: {{ site.accent.color_light | default: "#fff5e6" }};
$theme-colors: (
    "accent": $accent,
    "accent-light": $accent-light
);

// import bootstrap
@import "bootstrap/bootstrap";

//
// define style classes
//

// The Bartificer font
.font-bartificer{
    font-family: $font-family-bartificer;
}

// Muted accented text
.text-muted-accent{
    color: theme-color-level(accent, -2);
    
    a:link, a:visited, a:active{
        color: theme-color-level(accent, 2);
        text-decoration: none;
    }
    a:hover{
        color: theme-color-level(accent, 4);
        text-decoration: underline;
    }
}

//
// Style the page
//

// make the icons on the site nav disapear for uncollapsed small screens
.sitenav-icon{
    @extend .d-inline;
    @extend .d-sm-none;
    @extend .d-md-inline;
}

// add the accent colour to the headers
h1, h2, h3, h4, h5, h6{
    color: $accent;
}

// style the logo in the header
img#logo-header-sx{
    height: 128px;
    @extend .mx-auto;
}
img#logo-header-md{
    @extend .img-fluid;
}

// style the content area of the page
main{
    // add extra space above headings
    h2{
        @extend .mt-4;
    }
    h3{
        @extend .mt-3;
    }
    
    // style the box around code regions
    pre.highlight{
        @extend .bg-white;
        @extend .mx-5;
        @extend .p-1;
        @extend .border;
        border-color: $accent;
        @extend .rounded;
    }
    
    // style images & figures
    img{
    	@extend .img-fluid;
    	@extend .border;
    	border-color: $accent;
    	@extend .rounded;
    	@extend .d-block;
    	@extend .mx-auto;
    	@extend .my-3;
    }
    figcaption{
        @extend .text-center;
        @extend .text-muted;
        @extend .font-italic;
    }
    // groups of figures the wrap nicely across multiple lines in a responsive way
    div.fig-group{
        @extend .d-flex;
        @extend .flex-column;
        @extend .flex-md-row;
        @extend .justify-content-around;
        @extend .flex-wrap;
        figure{
            @extend .px-1;
        }
    }
    
    // style tables
    table{
        @extend .table;
        @extend .table-hover;
        @extend .table-bordered;
        
        thead{
            @extend .bg-accent;
            @extend .text-accent-light;
            @extend .font-accent;
        }
    }
    
    // style asides (blockquotes with class aside)
    blockquote.aside{
        @extend .alert;
        @extend .alert-secondary;
        @extend .mx-5;
        clear: both;
        h1{
            @extend .alert-heading;
            @extend .h4;
        }
    }
    
    // style notices (blockquotes with class notice)
    blockquote.notice{
        @extend .alert;
        @extend .alert-warning;
        @extend .mx-5;
        clear: both;
        h1{
            @extend .alert-heading;
            @extend .h4;
        }
    }
}

// load any custom styles defined by the user
@import "custom_styles";