---
---

//
// load web fonts
//

// load the Bartificer font "Exo 2" from Google fonts
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
$font-family-bartificer: "Exo 2", sans-serif;

//
// set Bootstrap variables and import Bootstrap
//

// set the headings font
$headings-font-family: "Exo 2", sans-serif;

// add accent colours
$accent:  #93C020;
$accent-light:  #fff5e6;
$theme-colors: (
    "accent": $accent,
    "accent-light": $accent-light
);

// import bootstrap
@import "bootstrap/bootstrap";

//
// define style classes
//

// 
.font-bartificer{
    font-family: $font-family-bartificer;
}

//
// Style the page
//

// make the icons on the site nav disapear for uncollapsed small screens
.sitenav-icon{
    @extend .d-inline;
    @extend .d-sm-none;
    @extend .d-md-inline;
}

// add the accent colour to the headers
h1, h2, h3, h4, h5, h6{
    color: $accent;
}

// style the logo in the header
img#logo-header-sx{
    height: 128px;
    @extend .mx-auto;
}
img#logo-header-md{
    @extend .img-fluid;
}

// style the box around code regions
main pre.highlight{
    @extend .mx-5;
    @extend .p-1;
    @extend .border;
    border-color: $accent;
    @extend .rounded;
}

