---
layout: default
---

<h1>Debug Data</h1>
<form>
    <div class="form-group">
        <label for="debuggedData_TA">Example textarea</label>
        <textarea class="form-control" id="debuggedData_TA" rows="30" aria-describedby="debugDataHelp">
            {{ content }}
        </textarea>
        <small id="debugDataHelp" class="form-text text-muted">
            To output the contents of a Liquid variable, use a liquid <code>echo</code> tag as the page contents, e.g. {% raw %}<code>{% echo site.title %}</code>{% endraw %}
        </small>
    </div>
</form>