---
layout: default
---
{% comment  -%}
# Define page-wide variables
{% endcomment -%}
{% assign page_collection = site.collections | where: "label", page.collection | first -%}
{% assign page_has_metadata = page.creators or page.date or page.tags -%}
<h1 class="{% if page_has_metadata %}mb-0{% endif %}">
    {%- if page_collection.prefix -%}{{ page_collection.prefix }} {% endif -%}
    {%- if page.instalment -%}
    {{- page.instalment -}} 
    {%- if page_collection.total %} of {{ page_collection.total }}{% endif -%}
    {%- endif -%}
    {%- if page_collection.prefix or page_collection.instalment %}: {% endif -%}
    {{- page.title }}{% if page.miniseries %} ({{ page.miniseries }}){% endif -%}
</h1>
{% if page_has_metadata -%}
{% assign creators_collection = site.collections | where: "label", "creators" | first -%}
{% assign site_creators_page_path = creators_collection.creators_page -%}
{% if site_creators_page_path %}{% assign site_creators_page = site.pages | where: "path", site_creators_page_path | first %}{% endif -%}
<small class="mb-3 text-muted d-flex">
    {% if page.date -%}
    <div class="pr-3"><i class="fas fa-calendar-day pr-1" aria-label="Date"></i> {{ page.date | date_to_string }}</div>
    {% endif -%}
    {% if page.creators -%}
    <div class="pr-3"><i class="fas fa-id-card pr-1" aria-label="Creators"></i>
    {% for creator in page.creators -%}
      {% assign creator_details = creators_collection.docs | where: "slug", creator | first -%}
      {% capture creator_url -%}
        {%- if site_creators_page and creator_details.guest == false -%}
          {{ site_creators_page.url }}#{{ creator_details.slug }}
        {%- else -%}
          {{ creator_details.external_url }}
        {%- endif -%}
      {%- endcapture -%}
      <a href="{{ creator_url }}" class="badge badge-pill badge-accent text-white">{{ creator_details.display_name }}</a>
    {% endfor -%}
    </div>
    {% endif -%}
    {% if page.tags -%}
    <div>
    {% for tag in page.tags -%}
      <span class="badge badge-accent-light text-accent"><i class="fas fa-tag" aria-label="Tag"></i> {{ tag }}</span>
    {% endfor -%}
    </div>
    {% endif -%}
</small>
{%- endif %}

{{ content }}

<!-- miniseries='{{ page.miniseries }}' -->
<!-- instalment='{{ page.instalment }}' -->
{%- if page.miniseries %}
{%- assign miniseries_docs = page_collection.docs | where: "miniseries", page.miniseries %}
<!--
{%- for miniseries_instalment in miniseries_docs %}
- title='{{ miniseries_instalment.title }}'
{%- endfor %}
-->
{%- endif -%}

<div class="btn-group mt-5 w-100 px-5 text-center" role="group" aria-label="Instalment Navigation">
    {% if page.previous -%}
    <a href="{{ page.previous.url }}" class="btn btn-outline-primary" role="button"><i class="far fa-arrow-alt-circle-left" aria-label="Previous"></i>
        {%- if page.previous.instalment %} {{page.previous.instalment}}. {% endif -%}
        {{ page.previous.title }}
    </a>
    {%- else -%}
    <a href="#" class="btn btn-outline-primary disabled" role="button" aria-disabled="true"><i class="far fa-arrow-alt-circle-left" aria-hidden></i> No Previous (on First)</a>
    {% endif -%}
    <a href="/#{{ page_collection.label }}" class="btn btn-outline-primary">{{ page_collection.title }}</a>
    {%- if page.next -%}
    <a href="{{ page.next.url }}" class="btn btn-outline-primary" role="button">{% if page.next.instalment %}{{page.next.instalment}}. {% endif -%}
        {{ page.next.title }} <i class="far fa-arrow-alt-circle-right" aria-label="Next"></i>
    </a>
    {%- else -%}
    <a href="#" class="btn btn-outline-primary disabled" role="button" aria-disabled="true">No Next (on Last) <i class="far fa-arrow-alt-circle-right" aria-hidden></i></a>
    {% endif -%}
</div>